page-show-task {
  h1 {
    padding-top: 1em;
    font-size: 50px;
  }

  h1,
  p {
    text-align: center;
  }

  p {
    font-size: 25px;
    padding-top: 3px;
    font-weight: bold;
  }

  .toolbar-background {
    background-image: linear-gradient(#8d3eed, #7d2bdf, #8d3eed);
  }

  ion-navbar {
    height: 10px;
  }

  [text-color="my-custom-color"] {
    color: white;
  }
}
